html{
    scroll-behavior: smooth;
    overflow-x: hidden;

}
body{
    
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 25px;
    max-width: 100%;
    height: 10vh;
    background-color: white;
    
}
.navbar p{
    font-weight: bold;
    font-size: 1.1rem;
}
ul{
    display: flex;
}
ul li{
    margin: 0 20px;
    list-style: none;
    height: 50px;
    width: 80px;
    text-align: center;
}
ul li a{
    text-decoration: none;
    color: black;
}
.cross{
    display: none;
}
.bar{
    position: relative;
    right: -12px;
    display: none;
}

ul li a:hover{
    color: rgb(247, 159, 6);
    transition: 0.5s;
}

.image{
    height: 100vh;
    max-width: 100%;
    margin-top: -80px;
    position:absolute;
    z-index: -1;
}
.image img{
    max-width: 100%;
}
.ho{
    font-size: 35rem;
    font-weight: bold;
    margin-left: -200px;
    opacity: 0.1;
    z-index: 1;
    position: absolute;
    user-select: none;
}
.main-text{
    margin: 15%;
    text-transform: uppercase;
    position: relative;
    z-index: 2;

}
.main-text h1{
    font-size: 3rem;
    letter-spacing: 8px;
}
.main-text p{
    font-size: 1rem;
}
.btn{
    display: block;
    width: 17%;
    height: 6vh;
    background-color: rgb(214, 136, 1);
    border: none;
    margin-top: 40px;
    color: white;
    font-size: 1rem;
}
.btn:hover{
    cursor: pointer;
    background-color: black;
    transition: 1s;
}
.heading{
    font-size: 1.2rem;
    margin-top: 25% ;
    text-align: center;
    text-transform: uppercase;
}
.heading p{
    margin-top: -20px ;
    opacity: 0.5;
}
.about-text{
    width: 40%;
    float: left;
    margin: 0 0 10% 10%;
    font-size: 1rem;
}
 .about{
    width: 35%;
   
}
#about img{
    float: right;
    margin-right: 10%;
}

/* gallery  */

#gallery{
    clear: both;
}
.gallery-images{
    text-align: center;
    margin-top: 50px;
}
.gallery-images img{
    height: 50vh;
    object-fit: contain;
    
}
.gallery-heading{
    padding: 5%;
    text-align: center;
    text-transform:uppercase;
    font-size: 1.2rem;

}
.gallery-heading p{
    margin-top: -20px ;
    opacity: 0.5;
}
.gallery-news{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
 
}
.gallery-news img{
    width: 50%;
    height: 70vh;
    object-fit: contain;
}
.news{
    width: 40%;
}
.news p{
    margin-bottom: 10%;
}
.news span{
    color: rgb(247, 159, 6) ;
}
#sign-up{
    width: 100%;
    height: 50vh;
    text-align: center;
    text-transform: uppercase;
    background-color: #9d9d9d44;
    font-size: 1rem;
}
#sign-up h2{
    padding-top: 5% ;
    
}
#sign-up p{
    opacity: 0.5;
    margin: -10px 0 30px 0;
}
input{
    width: 20%;
    height: 5vh;
    border: none;
    outline: none;
    padding-left: 20px ;
    font-size: 1rem;
}
.sign-btn{
    width: 10%;
    height: 5vh;
    font-size: 1rem;
    border: none;
    background-color:rgb(247, 159, 6) ;
    color: white;
    cursor: pointer;
}
@media(max-width: 1240px) {
   .ho{
    font-size: 30rem;
   }
   .about-text{
        width: 30%;
   }
   #about img{
    width: 40%;
   }
}
@media(max-width: 1000px){
    .ho{
        font-size: 25rem;
        margin-left: -150px;
    }
    .main-text h1{
        font-size: 2rem;
    }
    .heading{
        margin-top: 10%;
    }
}
@media (max-width: 800px) {
    .navbar{
        height: 5vh;
        padding-bottom: 5px;
    }
    .ho{
        font-size: 18rem;
        margin-left: -100px;
    }
    body{
        font-size: small;
    }
    .logo p,
    .num p{
        font-size: small ;
    }
}
    @media (max-width: 710px) {
        html{
            font-size: 70%;
        } 
      
        
        .ho{
            display: none;
        }
        .logo{
            position: relative;
            z-index: 999;
        }
        
        .heading p{
            margin-top: 0;
        }
        .gallery-heading p{
            margin-top: 0;
        }
        .gallery-news img{
            height: 50vh;
        }
        .gallery-images img{
            height: 30vh;    
        } 
        #sign-up{
            height: 30vh;
        }
       





        ul{
            width: 100%;
            height: 55vh;
            position: absolute; 
            display: flex;
            background-color: white;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 99;
            transform: translateX(100%); 
            transition: all 1s linear;
            opacity: 0;
            visibility: none;
            pointer-events: none 
        }
     .bar{
        position: relative;
        z-index: 999;
        display: block;
     }
     .active .bar{
        display: none;
     }
     .active .cross{
        position: relative;
        display: block;
        z-index: 4;
        margin-right: -10px;
    }
        .active ul {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
       
}
@media (max-width: 600px) {
    .btn{
        margin: 10px;
    }
    .image{
        margin-top: -50px;
    }
}
@media (max-width: 500px) {
    html{
        font-size: 50%;
    }
    .btn{
        height: 20px;
    }
    .gallery-news img{
        height: 30vh;
    }
}
@media (max-width: 400px) {
    html{
        font-size: 30%;
    }
    #about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .about-text{
        margin: 0;
        width: 80%;
        font-size: 60%;
    }

    #about img{
        margin: 0;
    }
    .btn{
        height: 15px;
    }
    #about .btn{
        width: 20%;
    }
    .heading{
        margin: 0;
    }
    .gallery-news{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .news{
        width: 80%;
        font-size: 160%;

    }
}
@media (max-width: 300px){
    .logo p,
    .num p{
        font-size: 2rem;
    }
    .navbar{
        padding-top: 0;
        height: 3vh;
    }
}